![](images/EscUpmPolit_p.gif "UPM")

# Telco Churn

In [599]:
import matplotlib.pyplot as plt
%matplotlib inline
import random
import numpy as np
import pandas as pd
from sklearn import datasets, svm, cross_validation, tree, preprocessing, metrics
import sklearn.ensemble as ske
import seaborn as sns
sns.set(color_codes=True)
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
import matplotlib
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [600]:
df = pd.read_csv('/home/emulator/Desktop/train.csv')
df[:5]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1062832,Male,0,No,No,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Credit card (automatic),20.55,20.55,0
1,675028,Female,0,No,No,50,Yes,Yes,DSL,No,...,No,Yes,Yes,Yes,Two year,Yes,Mailed check,79.60,4024.2,0
2,11139681,Male,1,Yes,No,59,Yes,No,Fiber optic,Yes,...,Yes,No,No,No,One year,Yes,Credit card (automatic),82.95,4903.15,0
3,1522201755,Female,0,No,No,52,Yes,Yes,DSL,No,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),80.95,4233.95,0
4,100644,Male,0,Yes,No,34,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,No,Mailed check,88.85,3000.25,0

In [601]:
df.count()

customerID          5543
gender              5543
SeniorCitizen       5543
Partner             5543
Dependents          5543
tenure              5543
PhoneService        5543
MultipleLines       5543
InternetService     5543
OnlineSecurity      5543
OnlineBackup        5543
DeviceProtection    5543
TechSupport         5543
StreamingTV         5543
StreamingMovies     5543
Contract            5543
PaperlessBilling    5543
PaymentMethod       5543
MonthlyCharges      5543
TotalCharges        5543
Churn               5543
dtype: int64

In [602]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [603]:
df.loc[df["Partner"] == "Yes", "Partner"] = 1
df.loc[df["Partner"] == "No", "Partner"] = 0
df.loc[df["Dependents"] == "Yes", "Dependents"] = 1
df.loc[df["Dependents"] == "No", "Dependents"] = 0
df.loc[df["PhoneService"] == "Yes", "PhoneService"] = 1
df.loc[df["PhoneService"] == "No", "PhoneService"] = 0



df[-5:]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
5538,241896052,Male,0,0,0,39,1,No,DSL,No,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),49.80,1971.15,0
5539,1917607,Female,0,1,1,34,1,No,DSL,Yes,...,Yes,No,No,No,One year,Yes,Mailed check,60.80,2042.05,0
5540,1651761,Female,0,1,0,28,1,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.50,563.05,0
5541,8238468,Male,1,1,0,69,1,Yes,Fiber optic,No,...,Yes,No,No,Yes,Month-to-month,Yes,Bank transfer (automatic),95.35,6382,0
5542,5531185,Male,0,0,0,63,1,Yes,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),68.80,4111.35,0

In [604]:
df.loc[df["InternetService"] == "No", "InternetService"] = 0
df.loc[df["InternetService"] == "DSL", "InternetService"] = 1
df.loc[df["InternetService"] == "Fiber optic", "InternetService"] = 2
df[-5:]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
5538,241896052,Male,0,0,0,39,1,No,1,No,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),49.80,1971.15,0
5539,1917607,Female,0,1,1,34,1,No,1,Yes,...,Yes,No,No,No,One year,Yes,Mailed check,60.80,2042.05,0
5540,1651761,Female,0,1,0,28,1,No,0,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.50,563.05,0
5541,8238468,Male,1,1,0,69,1,Yes,2,No,...,Yes,No,No,Yes,Month-to-month,Yes,Bank transfer (automatic),95.35,6382,0
5542,5531185,Male,0,0,0,63,1,Yes,1,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),68.80,4111.35,0

In [605]:

df.loc[df["OnlineSecurity"] == "No", "OnlineSecurity"] = 0
df.loc[df["OnlineSecurity"] == "No internet service", "OnlineSecurity"] = 0
df.loc[df["OnlineSecurity"] == "Yes", "OnlineSecurity"] = 1

In [606]:
df['OnlineSecurity'].isnull().any()

False

In [607]:
df.loc[df["TechSupport"] == "No", "TechSupport"] = 0
df.loc[df["TechSupport"] == "No internet service", "TechSupport"] = 0
df.loc[df["TechSupport"] == "Yes", "TechSupport"] = 1

df.loc[df["StreamingTV"] == "No", "StreamingTV"] = 0
df.loc[df["StreamingTV"] == "No internet service", "StreamingTV"] = 0
df.loc[df["StreamingTV"] == "Yes", "StreamingTV"] = 1

df.loc[df["StreamingMovies"] == "No", "StreamingMovies"] = 0
df.loc[df["StreamingMovies"] == "No internet service", "StreamingMovies"] = 0
df.loc[df["StreamingMovies"] == "Yes", "StreamingMovies"] = 1

df.loc[df["Contract"] == "Two year", "Contract"] = 0
df.loc[df["Contract"] == "One year", "Contract"] = 1
df.loc[df["Contract"] == "Month-to-month", "Contract"] = 2

In [608]:
df[-5:]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
5538,241896052,Male,0,0,0,39,1,No,1,0,...,No,1,0,0,0,Yes,Bank transfer (automatic),49.80,1971.15,0
5539,1917607,Female,0,1,1,34,1,No,1,1,...,Yes,0,0,0,1,Yes,Mailed check,60.80,2042.05,0
5540,1651761,Female,0,1,0,28,1,No,0,0,...,No internet service,0,0,0,2,No,Mailed check,20.50,563.05,0
5541,8238468,Male,1,1,0,69,1,Yes,2,0,...,Yes,0,0,1,2,Yes,Bank transfer (automatic),95.35,6382,0
5542,5531185,Male,0,0,0,63,1,Yes,1,1,...,Yes,1,0,0,1,No,Bank transfer (automatic),68.80,4111.35,0

In [609]:
df.loc[df["DeviceProtection"] == "No", "DeviceProtection"] = 0
df.loc[df["DeviceProtection"] == "Yes", "DeviceProtection"] = 1
df.loc[df["DeviceProtection"] == "No internet service", "DeviceProtection"] = 2

df.loc[df["gender"] == "Male", "gender"] = 0
df.loc[df["gender"] == "Female", "gender"] = 1

df.loc[df["PaymentMethod"] == "Bank transfer (automatic)", "PaymentMethod"] = 0
df.loc[df["PaymentMethod"] == "Mailed check", "PaymentMethod"] = 1
df.loc[df["PaymentMethod"] == "Electronic check", "PaymentMethod"] = 1

In [610]:
df.loc[df["PaperlessBilling"] == "Yes", "PaperlessBilling"] = 1
df.loc[df["PaperlessBilling"] == "No", "PaperlessBilling"] = 0

df.loc[df["MultipleLines"] == "No", "MultipleLines"] = 0
df.loc[df["MultipleLines"] == "No phone service", "MultipleLines"] = 0
df.loc[df["MultipleLines"] == "Yes", "MultipleLines"] = 1

In [611]:
#Check nulls
df['Partner'].isnull().any()
df['Dependents'].isnull().any()
df['PhoneService'].isnull().any()
df['MultipleLines'].isnull().any()
df['InternetService'].isnull().any()

False

In [612]:
#Check how many nulls

df['Partner'].isnull().sum()
df['Dependents'].isnull().sum()
df['PhoneService'].isnull().sum()
df['MultipleLines'].isnull().sum()
df['InternetService'].isnull().sum()

0

In [613]:
df['Partner'].isnull().sum()
df['Dependents'].isnull().sum()
df['PhoneService'].isnull().sum()
df['MultipleLines'].isnull().sum()
df['InternetService'].isnull().sum()

0

In [614]:
df = df.dropna()

In [615]:
df.isnull().any()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
Churn               False
dtype: bool

In [616]:
df.drop(['OnlineBackup'], axis=1, inplace=True)
df.drop(['PaymentMethod'], axis=1, inplace=True)
df.drop(['TotalCharges'], axis=1, inplace=True)
# df.drop(['PaperlessBilling', 'Contract', 'Dependents'], axis=1, inplace=True)

In [617]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5543 entries, 0 to 5542
Data columns (total 18 columns):
customerID          5543 non-null int64
gender              5543 non-null int64
SeniorCitizen       5543 non-null int64
Partner             5543 non-null int64
Dependents          5543 non-null int64
tenure              5543 non-null int64
PhoneService        5543 non-null int64
MultipleLines       5543 non-null int64
InternetService     5543 non-null int64
OnlineSecurity      5543 non-null int64
DeviceProtection    5543 non-null int64
TechSupport         5543 non-null int64
StreamingTV         5543 non-null int64
StreamingMovies     5543 non-null int64
Contract            5543 non-null int64
PaperlessBilling    5543 non-null int64
MonthlyCharges      5543 non-null float64
Churn               5543 non-null int64
dtypes: float64(1), int64(17)
memory usage: 822.8 KB

In [618]:
df.dtypes[df.dtypes == object]

Series([], dtype: object)

Ahora separamos los datos en dos arrays: Uno X que contendra todos los valores de cada fila menos los de survived. y otro Y que contendrÃ¡ solo los datos de survived para esa fila. El algoritmo de clasificacion comparara los valores de atributo de X a sus correspondientes valores de Y para detectar patrones de como diferentes valores de atributo afectan a la supervivencia de un pasajero.

In [619]:
X = df.drop(['Churn'], axis=1).values
y = df['Churn'].values

Ahora dividimos los arrays X e Y en dos partes, un set de entrenamiento y otro de testeo. Daremos el set de entrenamiento al algoritmo de clasificaciÃ³n para crear un modelo entrenado. Una vez el modelo se haya formado, lo utilizaremos para clasificar el set de testeo, lo que nos permitira determinar la precision del modelo. AquÃ­ he hecho un reparto de 20-80, de tal manera que el 80% del dataset se utilizarÃ¡ para entrenamiento y el 20% para testeo:

In [620]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size=0.2)

Primero comenzaremos con un arbol de decision (Tecnica aprendida en clase.) El arbol de decision examinara una variable cada vez, y se dividira entre 1 de 2 ramas dependiendo del resultado del valor obtenido. 
De tal manera que el Ã¡rbol primero se divide por sexo, y despuÃ©s por clase, ya que habrÃ¡ aprendido en la secuencia de entrenamiento que estas son las dos principales caracteristicas que determinan la suerte de un individuo.

In [621]:
clf_dt = tree.DecisionTreeClassifier(max_depth=10)

In [622]:
clf_dt.fit (X_train, y_train)
clf_dt.score (X_test, y_test)

0.7619477006311993

Como sabemos, la precisiÃ³n del modelo puede variar dependiendo de que filas sean seleccionadas para las secuencias de entrenamiento y testeo. Para que esto no condicione los resultados vamos a poner un factor de aleatoriedad:

In [623]:
shuffle_validator = cross_validation.ShuffleSplit(len(X), n_iter=20, test_size=0.2, random_state=0)
def test_classifier(clf):
    scores = cross_validation.cross_val_score(clf, X, y, cv=shuffle_validator)
    print("Accuracy: %0.4f (+/- %0.2f)" % (scores.mean(), scores.std()))

In [624]:
test_classifier(clf_dt)

Accuracy: 0.7566 (+/- 0.01)

In [625]:
print("Prediction ", clf_dt.predict(X))

('Prediction ', array([0, 0, 0, ..., 0, 0, 0]))

In [626]:
dfTest = pd.read_csv('/home/emulator/Desktop/test_nolabel.csv')

In [627]:
dfTest.loc[dfTest["Partner"] == "Yes", "Partner"] = 1
dfTest.loc[dfTest["Partner"] == "No", "Partner"] = 0
dfTest.loc[dfTest["Dependents"] == "Yes", "Dependents"] = 1
dfTest.loc[dfTest["Dependents"] == "No", "Dependents"] = 0
dfTest.loc[dfTest["PhoneService"] == "Yes", "PhoneService"] = 1
dfTest.loc[dfTest["PhoneService"] == "No", "PhoneService"] = 0
dfTest.loc[dfTest["InternetService"] == "No", "InternetService"] = 0
dfTest.loc[dfTest["InternetService"] == "DSL", "InternetService"] = 1
dfTest.loc[dfTest["InternetService"] == "Fiber optic", "InternetService"] = 2
dfTest.loc[dfTest["OnlineSecurity"] == "No", "OnlineSecurity"] = 0
dfTest.loc[dfTest["OnlineSecurity"] == "No internet service", "OnlineSecurity"] = 0
dfTest.loc[dfTest["OnlineSecurity"] == "Yes", "OnlineSecurity"] = 1
dfTest.loc[dfTest["TechSupport"] == "No", "TechSupport"] = 0
dfTest.loc[dfTest["TechSupport"] == "No internet service", "TechSupport"] = 0
dfTest.loc[dfTest["TechSupport"] == "Yes", "TechSupport"] = 1

dfTest.loc[dfTest["StreamingTV"] == "No", "StreamingTV"] = 0
dfTest.loc[dfTest["StreamingTV"] == "No internet service", "StreamingTV"] = 0
dfTest.loc[dfTest["StreamingTV"] == "Yes", "StreamingTV"] = 1

dfTest.loc[dfTest["StreamingMovies"] == "No", "StreamingMovies"] = 0
dfTest.loc[dfTest["StreamingMovies"] == "No internet service", "StreamingMovies"] = 0
dfTest.loc[dfTest["StreamingMovies"] == "Yes", "StreamingMovies"] = 1

dfTest.loc[dfTest["Contract"] == "Two year", "Contract"] = 0
dfTest.loc[dfTest["Contract"] == "One year", "Contract"] = 1
dfTest.loc[dfTest["Contract"] == "Month-to-month", "Contract"] = 2
dfTest.loc[dfTest["DeviceProtection"] == "No", "DeviceProtection"] = 0
dfTest.loc[dfTest["DeviceProtection"] == "Yes", "DeviceProtection"] = 1
dfTest.loc[dfTest["DeviceProtection"] == "No internet service", "DeviceProtection"] = 2

dfTest.loc[dfTest["gender"] == "Male", "gender"] = 0
dfTest.loc[dfTest["gender"] == "Female", "gender"] = 1

dfTest.loc[dfTest["PaymentMethod"] == "Bank transfer (automatic)", "PaymentMethod"] = 0
dfTest.loc[dfTest["PaymentMethod"] == "Mailed check", "PaymentMethod"] = 1
dfTest.loc[dfTest["PaymentMethod"] == "Electronic check", "PaymentMethod"] = 1
dfTest.loc[dfTest["PaperlessBilling"] == "Yes", "PaperlessBilling"] = 1
dfTest.loc[dfTest["PaperlessBilling"] == "No", "PaperlessBilling"] = 0

dfTest.loc[dfTest["MultipleLines"] == "No", "MultipleLines"] = 0
dfTest.loc[dfTest["MultipleLines"] == "No phone service", "MultipleLines"] = 0
dfTest.loc[dfTest["MultipleLines"] == "Yes", "MultipleLines"] = 1
dfTest.drop(['OnlineBackup'], axis=1, inplace=True)
dfTest.drop(['PaymentMethod'], axis=1, inplace=True)
dfTest.drop(['TotalCharges'], axis=1, inplace=True)

In [628]:
X2 = dfTest

In [629]:
churn = clf_dt.predict(X2)

In [630]:
dataframeResult = dfTest.filter(['customerID'], axis=1)

In [631]:
dataframeResult['Churn'] = churn

In [632]:
dataframeResult[:]

      customerID  Churn
0       21135993      0
1       13130474      0
2        7533169      1
3     2114231208      0
4        3524728      1
5      192125049      0
6      172428986      0
7       21329444      0
8      232256498      0
9      162223094      0
10      51038704      0
11       3192991      0
12      14207440      1
13      16148243      0
14     151417704      0
15       9638888      0
16    1824179531      0
17       9183692      0
18     102305485      0
19      38229369      0
20     171172457      0
21      62027146      0
22     222524938      1
23     122574217      0
24      22166710      1
25      25129125      0
26     316156156      0
27     231726750      0
28       2185655      1
29      12189076      1
...          ...    ...
1470     1380287      0
1471     3029366      0
1472   221821377      0
1473   610239047      0
1474    21139551      0
1475     1782114      0
1476     8192630      0
1477  1323170139      0
1478   141961567      0
1479   192162726      1
1480   152133397      0
1481      304169      0
1482    64150263      0
1483     1212551      0
1484   232226447      0
1485     5197900      0
1486  2513179236      0
1487  2224140284      0
1488    71331462      0
1489   114216100      0
1490    11021410      1
1491     4317247      1
1492   221527250      1
1493   122319988      0
1494   122143163      0
1495  1014207636      0
1496    17133913      0
1497    14165210      0
1498    24777679      1
1499   161514055      0

[1500 rows x 2 columns]

In [634]:
dataframeResult.to_csv('out.csv', sep='\t')